.controls > div {
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
}
/* .controls .amplitude-play-pause {
  width: 74px;
  height: 74px;
  cursor: pointer;
  display: inline-block;
} */

.controls .amplitude-play-pause.amplitude-paused {
  background: url('./images/play_arrow_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-play-pause.amplitude-playing {
  background: url('./images/pause_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-stop {
  background: url('./images/stop_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-mute {
  background: url('./images/volume_mute_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-mute.amplitude-muted {
  background: url('./images/volume_off_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-volume-up {
  background: url('./images/volume_up_black_24dp.svg');
  background-size: cover;
}

.controls .amplitude-volume-down {
  background: url('./images/volume_down_black_24dp.svg');
  background-size: cover;
}
